.k321Y66FqF {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: calc(var(--gutter-space-regular) * 2);

    .IOIQW3TSdF{
        display: flex;
        align-items: center;
        gap: var(--gutter-space-lg);
    }

}