:root {
    --primary-bg-color: #0D1117;
    --secondary-bg-color: #0D1117;
    --teritory-bg-color: #151B23;

    --primary-text-color: #ffffff;
    --secondary-text-color: #898A8C;
    --teritory-text-color: #A2A0AE;

    --border-color: #e3e5e40d;

    --shadow-color: transparent;

    --canvar-color: #0104095e;


    --white: #fff;
    --black: #000;

}