:root {
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F3F5F7;
    --teritory-bg-color: #ECEEF0;

    --primary-text-color: #000000;
    --secondary-text-color: #898A8C;
    --teritory-text-color: #A2A0AE;


    --border-color: #E3E5E4;
}