:root {
    --app-color: #0081fb;
    --app-color-rgb: 0,129, 251;

    --font-family-light: "Roboto Light";
    --font-family-regular: "Roboto Regular";
    --font-family-medium: "Roboto Medium";
    --font-family-semibold: "Roboto Semibold";
    --font-family-bold: "Roboto Bold";

    --font-size-xxxs: 0.75rem;
    --font-size-xxs: 0.875rem;
    --font-size-xs: 1rem;
    --font-size-sm: 1.125rem;
    --font-size-md: 1.375rem;
    --font-size-lg: 1.875rem;
    --font-size-xl: 2.8125rem;
    --font-size-xxl: 3.75rem;

    --gutter-space-xs: 0.3125rem;
    --gutter-space-sm: 0.625rem;
    --gutter-space-regular: 0.9375rem;
    --gutter-space-md: 1.25rem;
    --gutter-space-lg: 1.875rem;

    --border-size: 0.0625rem;
    --corner-radius-regular: 0.3125rem;
    --corner-radius-md: 0.625rem;
    --header-height: 3.75rem;
    --box-icon-sm-size: 1.875rem;

}