button {
    background: none;
    border: none;
    background-color: rgba(var(--app-color-rgb), 0.1);
    padding: var(--gutter-space-xs);
    border-radius: var(--corner-radius-regular);
    color: var(--app-color);
    cursor: pointer;

    .gtsT8n4Ljx {
        width: 2.1875rem;
        height: 2.1875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--corner-radius-regular);
        background-color: rgba(0, 129, 251);
        color: var(--white);
    }

    .WZvmntfoAK {
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .0.1875rem;
    }

    &.zSqChlyIgZ {
        display: grid;
        grid-template-columns: auto 1fr;
    }

}