.b22lMB8L98 {
    position: relative;
    display: flex;
    align-items: center;
    .DSnkvEAV_w {
        padding: var(--gutter-space-sm) var(--gutter-space-regular);
        border-right: 0.0625rem solid var(--border-color);
        position: absolute;
        left: 0;
    }

    input.AM6yTpAP6v {
        border: 0.0625rem solid var(--border-color);
        border-radius: var(--corner-radius-regular);
        padding: var(--gutter-space-sm);
        padding-left:  calc(var(--gutter-space-regular) * 4 );
        outline: none;
        font-size: var(--font-size-xxs);
        height: 2.1875rem;

        &:focus,
        &:active,
        &:not(:placeholder-shown) {
            border-color: var(--app-color);
            ~ .DSnkvEAV_w{
                color: var(--app-color);
            }
        }
    }
}

.W2wIh7h4Js{
    display: flex;
    align-items: center;
    gap: var(--gutter-space-sm);
    padding: var(--gutter-space-sm) var(--gutter-space-regular) ;
    background-color: var(--app-color);
    border-radius: var(--corner-radius-regular);
    color: var(--white);
    font-size: var(--font-size-xxs);
    height: 2.1875rem;
    letter-spacing: .0.1875rem;

}