.icon-file-zip:before {
    content: "\e92b";
}

.icon-price-tags:before {
    content: "\e936";
}

.icon-qrcode:before {
    content: "\e938";
}

.icon-rocket:before {
    content: "\e9a5";
}

.icon-fire:before {
    content: "\e9a9";
}

.icon-lab:before {
    content: "\e9aa";
}

.icon-google-drive:before {
    content: "\ea8f";
}